[project]
	description = FDD
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/MuhamedAvila
[access "refs/for/refs/*"]
	read = group user/MuhamedAvila
	push = group user/MuhamedAvila
	label-Code-Review = -2..+2 group user/MuhamedAvila
	label-Verified = -1..+1 group user/MuhamedAvila
	rebase = group user/MuhamedAvila
	removeReviewer = group user/MuhamedAvila
	submit = group user/MuhamedAvila
[access "refs/heads/*"]
	read = group user/MuhamedAvila
	create = group user/MuhamedAvila
	push = +force group user/MuhamedAvila
	pushMerge = group user/MuhamedAvila
[access "refs/tags/*"]
	push = group user/MuhamedAvila
	push = +force group user/MuhamedAvila
